.counter {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 0 5px 2px grey;

}

.btn {
    border: none;
    outline: none;
    margin: 10px;
    width: 100px;
    padding: 5px;
    background: rgb(158, 108, 0);
    color: white;
}