
.btn {
    margin: 10px;
    background: grey;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    width: 80px;
    color: #fff;
    outline: none;
    box-shadow: 0 0 2px 1px #000;
}

.btn:active {
    box-shadow: none;
}

.list {
    list-style: none;
}

.list li::first-letter {
    text-transform: uppercase;
}
